<form #alumnosForm="ngForm" (ngSubmit)="agregarAlumno()">  
  <ion-label class="label">Nombre alumno:</ion-label>  
  <ion-input 
    class="input" 
    required 
    [(ngModel)]="alumno.nombre" 
    placeholder="Nombre" 
    name="nombre">
  </ion-input>  
  
  <ion-label class="label">  
    <ion-checkbox 
      [(ngModel)]="alumno.presente" 
      name="presente">
    </ion-checkbox> 
    Presente  
  </ion-label> 

  <div class="button-container">  
    <ion-button 
      class="submit-btn" 
      type="submit" 
      expand="full" 
      [disabled]="alumnosForm.invalid">
      Agregar
    </ion-button>  
  </div>  
</form>

<ion-list>
  <ion-item *ngFor="let alumno of alumnos">
    <ion-label>{{ alumno.nombre }} - {{ alumno.presente ? 'Presente' : 'Ausente' }}</ion-label>
    <ion-button (click)="eliminarAlumno(alumno)">Eliminar</ion-button>
  </ion-item>
</ion-list>
